<section class="phase-page">

    <h1>System Analysis</h1>


    <section class="phase-section">

        <h2>Site Map</h2>

        <p>
            The site map defines the overall structure of the website and illustrates
            the relationship between pages, projects, and project phases.
        </p>

       <div class="diagram-card sitemap-image">
    <img src="~/images/site-map.png" />
</div>

    </section>


    <section class="phase-section">

        <h2>User Flow</h2>

        <p>
            The user flow represents the primary journey taken by visitors to explore
            projects and navigate through different software engineering phases.
        </p>

        <div class="diagram-card userflow-image">
    <img src="~/images/user-flow.png" />
</div>

    </section>


</section>