<section class="home-hero">
    <div class="hero-text">
        <h1>Proofolio</h1>

        <p>
            A portfolio website that presents software engineering projects
            through the complete Software Development Life Cycle (SDLC)
        </p>
    </div>
</section>